{{#if tasks}}
<table class="table table-bordered table-hover table-dark">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Description</th>
      <th>Operations</th>
    </tr>
  </thead>

  <tbody>
    {{#each tasks}}
      <tr>
        <td>{{@index}}</td>
        <td>{{title}}</td>
        <td>{{description}}</td>
        <td>

          {{#if done}}
            <a href="/tasks/{{_id}}/toggleDone" class="btn btn-dark btn-sm mt-2">Undone</a>
          {{else}}
            <a href="/tasks/{{_id}}/toggleDone" class="btn btn-success btn-sm mt-2">Done</a>
          {{/if}}
          <a href="/tasks/{{_id}}/delete" class="btn btn-danger btn-sm mt-2">Delete</a>
          <a href="/tasks/{{_id}}/edit" class="btn btn-info btn-sm mt-2">Update</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{else}}

<div class="h-100 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
       <h1>No Tasks</h1>
       <img src="/icons/img01.png" alt="w-75">
     </div>
</div>

{{/if}}
